<a href="https://colab.research.google.com/github/shuangquan-li-con/ECON5200-37499-Applied-Data-Analytics-in-Economics/blob/main/01_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Ingestion Note (Raw Reality) **

Unlike clean CSV inputs, the Angrist & Evans (1998) replication data are provided as SAS datasets (`.sas7bdat`).  
Therefore, I use `pandas.read_sas()` to ingest the raw files. Some columns are byte-encoded and must be decoded before numeric conversion.

In [ ]:
import zipfile
import os

zip_path = "/content/AngEv98.zip"
extract_path = "AngEv98"

with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_path)

print("Unzipped files:")
print(os.listdir(extract_path))

Unzipped files:
['AngEv98']

In [ ]:
import pandas as pd

In [ ]:
df_1980 = pd.read_sas("AngEv98/AngEv98/m_d_806.sas7bdat")
df_1990 = pd.read_sas("AngEv98/AngEv98/m_d_903.sas7bdat")

In [ ]:
df_1980.head()

,STATE,SEXK,AGEK,QTRBKID,RACEK,SPANISH,BIRTHPLK,SCHOOLK,GRADE,FINGRADE,...,FINGRADD,CLASSD,WEEKSD,HOURSD,INCOME1D,INCOME2D,AWEEK79D,AHOUR79D,AINC1D,AINC2D
0,b'01',b'1',b'09',b'3',b'01',b'0',b'001',b'1',b'06',b'1',...,b'2',b'1',b'52',b'40',b'28005',b'00000',b'0',b'0',b'0',b'0'
1,b'01',b'1',b'08',b'3',b'01',b'0',b'001',b'2',b'05',b'1',...,b'2',b'5',b'52',b'72',b'00000',b'10005',b'0',b'0',b'0',b'3'
2,b'01',b'0',b'09',b'1',b'01',b'0',b'001',b'1',b'05',b'1',...,b'2',b'5',b'16',b'48',b'00000',b'16005',b'0',b'0',b'2',b'0'
3,b'01',b'0',b'05',b'2',b'01',b'0',b'001',b'1',b'02',b'1',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'01',b'1',b'11',b'1',b'01',b'0',b'001',b'1',b'07',b'1',...,b'2',b'1',b'32',b'40',b'09925',b'00000',b'0',b'0',b'3',b'3'

In [ ]:
df_1990.head()

,SEX2NDK,MULTI2ND,AGE2NDK,ASEX2ND,AAGE2ND,SEXK,RACEK,AGEK,PWGTK1,HISPK,...,INCOMED1,INCOMED2,ARACED,AAGED,AHISPD,ASCHD,AWKS89D,AHRS89D,AINCD1,AINCD2
0,b'0',0.0,12.0,b'0',b'0',b'1',b'001',16.0,12.0,b'000',...,b'020000',b'000000',b'0',b'0',b'0',b'0',b'0',b'0',b'0',b'0'
1,NaN,NaN,NaN,NaN,NaN,b'0',b'001',14.0,12.0,b'000',...,b'039459',b'000000',b'0',b'0',b'0',b'0',b'0',b'0',b'0',b'0'
2,b'0',0.0,8.0,b'0',b'0',b'0',b'001',9.0,19.0,b'000',...,b'030000',b'000000',b'0',b'0',b'0',b'0',b'0',b'1',b'2',b'0'
3,b'1',0.0,10.0,b'0',b'0',b'1',b'001',11.0,15.0,b'000',...,b'049348',b'000000',b'0',b'0',b'0',b'0',b'0',b'0',b'0',b'0'
4,b'1',0.0,13.0,b'0',b'0',b'1',b'001',15.0,23.0,b'000',...,b'080000',b'000000',b'0',b'0',b'0',b'0',b'0',b'0',b'0',b'0'