<a href="https://colab.research.google.com/github/shuangquan-li-con/ECON5200-37499-Applied-Data-Analytics-in-Economics/blob/main/%E6%AC%A2%E8%BF%8E%E4%BD%BF%E7%94%A8_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 欢迎使用 Colab！

In [5]:
cpi_2026=325

In [6]:
cpi_1885=9.1

In [7]:
ratio_cpi_1885_2026= cpi_2026/cpi_1885

In [8]:
print(ratio_cpi_1885_2026)

35.714285714285715

In [9]:
real_price=0.02*ratio_cpi_1885_2026

In [10]:
print(real_price)

0.7142857142857143

In [11]:
rgdp=[1,2,3,4,5,6]

In [12]:
rgdp

[1, 2, 3, 4, 5, 6]

In [13]:
nations=["A","B","C","D","E","F"]

In [14]:
nations

['A', 'B', 'C', 'D', 'E', 'F']

In [15]:
dict = {
    "nations": nations,
    "rgdp": rgdp,
    "inflation":[1,2,3,3,2,1],
    "unemployment":[1,2,3,4,5,6]
}

In [16]:
dict

{'nations': ['A', 'B', 'C', 'D', 'E', 'F'],
 'rgdp': [1, 2, 3, 4, 5, 6],
 'inflation': [1, 2, 3, 3, 2, 1],
 'unemployment': [1, 2, 3, 4, 5, 6]}

In [17]:
import pandas as pd

In [18]:
data = pd.DataFrame(dict)

In [48]:
data.head()

  nations  rgdp  inflation  unemployment
0       A     1          1             1
1       B     2          2             2
2       C     3          3             3
3       D     4          3             4
4       E     5          2             5

In [21]:
misercy=data['inflation']+data['unemployment']

In [22]:
 data

  nations  rgdp  inflation  unemployment
0       A     1          1             1
1       B     2          2             2
2       C     3          3             3
3       D     4          3             4
4       E     5          2             5
5       F     6          1             6

In [23]:
nations

['A', 'B', 'C', 'D', 'E', 'F']

In [24]:
for i in nations:
 print(i)

A
B
C
D
E
F

In [26]:
for i in rgdp:
 if i > 3:
  print(i)

4
5
6

In [27]:
len(data)

6

In [28]:
range(len(data))

range(0, 6)

In [29]:
for i in range(len(data)):
  if data.loc[i,"rgdp"] == 3:
    print(data.loc[i,"nations"])

C